<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <!-- <input type="text" name="" id="1st"><br>
    <input type="text" name="" id="2nd"><br>
    <input type="text" name="" id="3rd"><br>
    <input type="text" name="" id="4th"><br>
    <button onclick="add()">Check</button> -->


  
        <div class="form-group">
          <label for="exampleInputEmail1">Petal Length</label>
          <input type="text" class="form-control" id="1st" aria-describedby="emailHelp" placeholder="Petal Length">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Petal Width</label>
          <input type="text" class="form-control" id="2nd" placeholder="Petal Width">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Sepal Length</label>
          <input type="text" class="form-control" id="3rd" placeholder="Sepal Length">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Sepal Width</label>
          <input type="text" class="form-control" id="4th" placeholder="Sepal Width">
        </div>
        
        <button onclick="add()" class="btn btn-primary">Submit</button>

        <span id="show"></span>
      

</body>
</html>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
     function add() {
        console.log("2nd");
        let data = {
            petal_length: document.getElementById("1st").value,
            petal_width: document.getElementById("2nd").value,
            sepal_length: document.getElementById("3rd").value,
            sepal_width: document.getElementById("4th").value
        }
        // data ={email: "shubhamroy12345@gmail.com", pass: "Shubham@12345"}
        console.log(data);
        $.ajax({
            type: "POST",
            url: "/api/v1/add",
            data: data,
            success: function (data) {
                console.log("---------OK----->")
                console.log(data);
                // alert(data.data)
                document.getElementById("show").innerHTML = `
                    <b>${data.data}</b>
                `
                // location.reload()
            },
            error: function (err) {
                console.log("---------ERROR----->")
                console.log(data);
            }
        });
    }
</script>